# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env

# =========================
# MongoDB
# =========================
data/
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE / Editor settings
# =========================
.vscode/
.idea/

# =========================
# Build / cache
# =========================
dist/
build/
.cache/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.txt
*.env

